$color-primary: rgb(233, 56, 74);

$color-primary-dark: rgb(145, 47, 64);

$color-secondary: #E45C13;
$color-secondary-light: #55efc4;

$color-black: #2d3436;
$color-grey-3: #011627;
$color-grey-3-light: #021f36;
$color-grey-light-1: #f5f6fa;
$color-grey-light-2: #f1f2f6;
$color-grey-1: rgb(64, 67, 78);
$color-grey-2: rgb(43, 48, 56);
$color-grey-4: #f1f2f6;
$color-white: rgb(255, 255, 250);
$color-white-2: rgb(255, 250, 240);

$color-btn-primary: #0062cc;

$color-gold: #b28451;

$grid-width: 180rem;
$grid-margin: 10rem 0;
