/*
0 - 600 : phone
600 - 900 : tablet portrait
900 - 1200 : tablet landscape
1200 - 1800 : desktop normal styles
1800 + : big screen desktop

*/
.u-block {
  display: block !important; }

.u-marginleft-m {
  margin-left: 5rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-weight: 300;
  height: 100%;
  width: 100%; }
  @media only screen and (max-width: 1400px) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 650px) {
    html {
      font-size: 45%; } }
  @media only screen and (max-width: 530px) {
    html {
      font-size: 40%; } }

a {
  text-decoration: none !important; }

body {
  box-sizing: border-box;
  position: relative;
  width: 100%; }

.wrapper {
  max-width: 70%;
  margin: 0 auto;
  height: 100%;
  background-color: transparent; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #2d3436;
  line-height: 1.6; }

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 1px;
  z-index: 200; }

.heading--1 {
  font-size: 6rem;
  line-height: inherit;
  letter-spacing: 2px; }
  @media only screen and (max-width: 400px) {
    .heading--1 {
      font-size: 5rem !important; } }

.heading--2 {
  font-size: 4rem;
  line-height: 1.3; }

.heading--3 {
  font-size: 2rem;
  font-weight: 700; }

.heading--4 {
  font-size: 1.8rem; }

.em {
  text-transform: capitalize;
  color: #e9384a !important;
  font-weight: 700;
  text-shadow: 1px 1px 0.1rem #e9384a; }

.u-margin-top-medium {
  margin-top: 8rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  opacity: 0.25; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn-primary {
  background-color: #0062cc;
  border: 0.3rem solid #0062cc;
  color: #fffffa;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 1px; }
  .btn-primary:hover {
    background-color: #fffffa;
    border: 0.3rem solid #0062cc;
    color: #0062cc;
    cursor: pointer; }
  .btn-primary a, .btn-primary a:link, .btn-primary a:visited {
    color: inherit;
    text-transform: capitalize; }
    @media only screen and (max-width: 56.25em) {
      .btn-primary a, .btn-primary a:link, .btn-primary a:visited {
        font-size: 2rem; } }
  .btn-primary--2 {
    border: 0.3rem solid #e9384a;
    background-color: #e9384a;
    margin-right: 2rem; }
    .btn-primary--2:hover {
      border: 0.3rem solid #e9384a;
      color: #e9384a; }

.active {
  background-color: #2d3436 !important; }

.active-link {
  color: #e9384a !important; }

nav {
  z-index: 50000;
  transition: .2s all;
  width: 100%;
  color: #2d3436;
  height: 8rem;
  background-color: #fffffa;
  position: absolute;
  top: 0; }
  @media only screen and (max-width: 1000px) {
    nav {
      position: relative; } }

.navbar {
  width: 100%;
  padding: 0;
  height: 100%; }
  .navbar-brand {
    display: flex;
    align-items: baseline;
    margin-right: auto;
    width: 45%;
    background-color: #e9384a;
    transform: skewX(-20deg);
    position: absolute;
    left: -5%;
    top: 0;
    z-index: 1000;
    color: #fffffa;
    /*  background-image: linear-gradient(
      105deg,
      rgba($color-primary, 1) 80%,
      rgba($color-grey-3, 0) 50% 
    );*/
    box-shadow: 1rem 1rem 2rem rgba(1, 22, 39, 0.45);
    padding-bottom: 1rem; }
    @media only screen and (max-width: 700px) {
      .navbar-brand {
        width: 65%; } }
    @media only screen and (max-width: 400px) {
      .navbar-brand {
        width: 75%; } }
    @media only screen and (max-width: 300px) {
      .navbar-brand {
        flex-direction: column; } }
    .navbar-brand a:link, .navbar-brand a:visited {
      color: inherit;
      transition: .2s all; }
    .navbar-brand a:hover {
      color: #011627; }
    .navbar-brand__logo {
      margin-left: 30rem;
      font-family: serif;
      font-size: 4rem;
      font-weight: 400;
      background-color: rgba(233, 56, 74, 0.6);
      padding: 3rem 0;
      padding-left: 7rem;
      width: 8rem;
      border-radius: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      transform: skewX(20deg);
      line-height: 1.6;
      margin-right: .5rem; }
      @media only screen and (max-width: 1600px) {
        .navbar-brand__logo {
          margin-left: 25rem; } }
      @media only screen and (max-width: 1200px) {
        .navbar-brand__logo {
          margin-left: 20rem; } }
      @media only screen and (max-width: 1100px) {
        .navbar-brand__logo {
          margin-left: 15rem; } }
      @media only screen and (max-width: 1000px) {
        .navbar-brand__logo {
          margin-left: 10rem; } }
      @media only screen and (max-width: 800px) {
        .navbar-brand__logo {
          margin-left: 5rem; } }
      @media only screen and (max-width: 700px) {
        .navbar-brand__logo {
          margin-left: 10rem; } }
      @media only screen and (max-width: 450px) {
        .navbar-brand__logo {
          margin-left: 5rem; } }
      @media only screen and (max-width: 320px) {
        .navbar-brand__logo {
          margin-left: 0rem; } }
      @media only screen and (max-width: 300px) {
        .navbar-brand__logo {
          margin-left: 0rem;
          padding: 0rem 5rem; } }
    .navbar-brand__title {
      transform: skewX(20deg);
      margin-left: 8rem; }
      @media only screen and (max-width: 300px) {
        .navbar-brand__title {
          margin-left: 6.4rem;
          margin-bottom: 2rem; } }
  .navbar-content {
    width: 100%;
    margin-right: 20rem;
    display: flex;
    align-items: center;
    height: 100%; }
    @media only screen and (max-width: 1600px) {
      .navbar-content {
        margin-right: 0rem; } }
    @media only screen and (max-width: 1000px) {
      .navbar-content {
        display: none; } }
    .navbar-content-selection {
      height: 100%;
      display: flex;
      align-items: center;
      margin: 0;
      margin-left: auto; }
      .navbar-content-selection__list {
        display: flex;
        align-items: center;
        list-style: none;
        margin-right: 4rem;
        height: 100%; }
        .navbar-content-selection__list__item:link, .navbar-content-selection__list__item:visited {
          display: inline-block;
          font-size: 1.4rem;
          font-weight: 700;
          color: inherit;
          margin-right: 1rem;
          text-transform: uppercase;
          transition: all 0.2s;
          transition-property: transform, opacity, color, border-color, background-color;
          text-decoration: none;
          border-bottom: 2px solid transparent; }
        .navbar-content-selection__list__item:hover {
          color: #e9384a;
          border-bottom: 2px solid #e9384a; }
  @media only screen and (max-width: 1000px) {
    .navbar-info {
      display: none; } }
  .navbar-info-language {
    margin-left: 2rem; }
    .navbar-info-language__icon {
      width: 4rem; }
  .navbar-mobile {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 10000;
    width: 100vw;
    background-color: rgba(45, 52, 54, 0.97);
    transition: .2s all;
    box-shadow: 0 1rem 1rem #2d3436; }
    .navbar-mobile-show {
      display: flex;
      align-items: center;
      margin-left: auto; }
      .navbar-mobile-show #closeNav {
        display: none;
        color: #2d3436;
        z-index: 2000000000; }
        .navbar-mobile-show #closeNav:hover {
          color: #e9384a; }
    .navbar-mobile__icon {
      position: absolute;
      top: -40%;
      left: 85%;
      display: none;
      font-size: 3.5rem;
      padding: 7rem;
      background-color: #fffffa;
      box-shadow: 0rem 0rem 1rem #2d3436;
      border-radius: 100%;
      cursor: pointer;
      transition: .5s all; }
      .navbar-mobile__icon:hover {
        color: #e9384a; }
      @media only screen and (max-width: 1000px) {
        .navbar-mobile__icon {
          display: flex;
          align-items: center; } }
      @media only screen and (max-width: 800px) {
        .navbar-mobile__icon {
          left: 85%; } }
      @media only screen and (max-width: 600px) {
        .navbar-mobile__icon {
          left: 83%; } }
      @media only screen and (max-width: 490px) {
        .navbar-mobile__icon {
          left: 80%; } }
      @media only screen and (max-width: 400px) {
        .navbar-mobile__icon {
          box-shadow: 0 0 0 #fffffa;
          left: 80%;
          top: -2%;
          padding: 2rem; } }
    .navbar-mobile-content {
      font-size: 2rem;
      font-weight: 300;
      width: 100%;
      color: #fffffa; }
      .navbar-mobile-content-selection {
        margin: 0;
        margin-top: 15rem;
        padding: 2rem 8rem; }
        .navbar-mobile-content-selection__list {
          list-style: none;
          margin-bottom: 1.5rem;
          padding: .5rem 0; }
          .navbar-mobile-content-selection__list__item:link, .navbar-mobile-content-selection__list__item:visited {
            color: inherit;
            text-transform: uppercase;
            text-decoration: none; }
          .navbar-mobile-content-selection__list:not(:last-child) {
            border-bottom: 1px solid rgba(255, 255, 250, 0.35); }
          .navbar-mobile-content-selection__list .btn-primary {
            font-size: inherit;
            background-color: transparent;
            padding: 0;
            border: none;
            font-weight: 400;
            text-transform: uppercase; }

.card {
  width: 120rem;
  background-color: floralwhite;
  padding: 0;
  border: none;
  display: flex;
  border: 2px solid #2d3436;
  box-shadow: 0px 5px 2rem #2d3436; }
  .card-hero {
    flex-basis: 50%;
    overflow: hidden;
    position: relative; }
    .card-hero__img {
      max-width: 100%;
      transform: scale(1.4); }
    .card-hero--overlay {
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 250, 0.35);
      position: absolute;
      top: 0;
      left: 0; }
    .card-hero__header {
      position: absolute;
      text-align: center;
      font-weight: 400;
      background-color: #011627;
      padding: 1.5rem; }
  .card-body {
    flex-basis: 60%;
    color: floralwhite; }
    .card-body__header {
      width: 50%;
      padding: 1rem; }
      .card-body__header__title {
        text-align: center;
        font-weight: 400; }
    .card-body__content {
      font-size: 2.5rem;
      padding: 2rem;
      font-weight: 300; }

.faq {
  background-color: #f5f6fa;
  width: 100%;
  padding: 5rem; }
  .faq-main {
    padding: 15rem 0;
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    @media only screen and (max-width: 1400px) {
      .faq-main {
        width: 80%; } }
    @media only screen and (max-width: 440px) {
      .faq-main {
        width: 95%; } }
    .faq-main__title {
      font-weight: 300;
      font-size: 3.5rem; }
    .faq-main__subtitle {
      font-weight: 300; }
    .faq-main-body {
      margin-top: 2.5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .faq-main-body-question__title {
        text-transform: capitalize;
        font-weight: 700;
        font-size: 1.8rem; }
      .faq-main-body-question__answer {
        font-size: 1.8rem;
        font-weight: 400; }

.about {
  background-color: #f5f6fa; }
  .about-main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgba(1, 22, 39, 0.55), rgba(1, 22, 39, 0.55)), url(/img/landscape.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 20rem;
    padding-top: 8rem; }
    @media only screen and (max-width: 1000px) {
      .about-main {
        padding-top: 2rem; } }
    .about-main-left {
      width: 50%;
      margin: 0 auto;
      color: #fffffa; }
      @media only screen and (max-width: 850px) {
        .about-main-left {
          width: 70%; } }
      @media only screen and (max-width: 450px) {
        .about-main-left {
          width: 85%; } }
      .about-main-left-header {
        text-align: center;
        margin: 0 auto;
        margin-top: 20rem;
        width: 100%; }
        .about-main-left-header__title {
          font-size: 4rem;
          font-weight: 700; }
      .about-main-left-body {
        width: 100%;
        padding: 2rem;
        margin: 0 auto;
        margin-top: 5rem; }
        .about-main-left-body p {
          font-size: 2rem;
          font-weight: 300; }

.services-page {
  background-color: #011627;
  width: 100%;
  padding: 15rem 0; }
  @media only screen and (max-width: 1000px) {
    .services-page {
      padding: 5rem 0; } }
  .services-page-main {
    color: #fffffa;
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .services-page-main-header {
      align-self: flex-start; }
    .services-page-main-body {
      font-weight: 300;
      font-size: 1.8rem;
      padding: 2rem 0; }
      @media only screen and (max-width: 500px) {
        .services-page-main-body {
          font-size: 2rem; } }
      .services-page-main-body::after {
        margin-top: 1rem;
        content: "";
        display: block;
        width: 15%;
        height: 2rem;
        border-radius: 100px;
        background-color: rgba(233, 56, 74, 0.75); }
        @media only screen and (max-width: 900px) {
          .services-page-main-body::after {
            height: 1rem; } }
      @media only screen and (max-width: 1100px) {
        .services-page-main-body::after {
          margin-top: 1rem;
          content: "";
          display: block;
          width: 25%;
          height: 2rem;
          border-radius: 100px;
          background-color: rgba(233, 56, 74, 0.75); } }
  @media only screen and (max-width: 1100px) and (max-width: 900px) {
    .services-page-main-body::after {
      height: 1rem; } }

#invalid-input {
  background-color: #e9384a;
  display: none; }

#neutral-input {
  background-color: #40434e; }

#valid-input {
  display: none;
  background-color: #55efc4; }

.input-validator {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.contact {
  background-color: #f5f6fa;
  width: 100%;
  color: #2d3436; }
  .contact-main {
    padding: 20rem 0;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 1200px) {
      .contact-main {
        flex-direction: column;
        align-items: center; } }
    @media only screen and (max-width: 1000px) {
      .contact-main {
        padding: 10rem 0; } }
    @media only screen and (max-width: 350px) {
      .contact-main {
        width: 100%; } }
    .contact-main-header {
      flex: 0 0 50%;
      font-weight: 300;
      padding: 2rem; }
      @media only screen and (max-width: 1200px) {
        .contact-main-header {
          width: 70%; } }
      @media only screen and (max-width: 700px) {
        .contact-main-header {
          flex: 1 0 90%;
          width: 90%; } }
      .contact-main-header__title {
        font-size: 3rem;
        text-align: center;
        font-weight: 300; }
        @media only screen and (max-width: 400px) {
          .contact-main-header__title {
            font-size: 3rem !important; } }
      .contact-main-header__subtitle {
        margin: 3rem 0;
        font-size: 1.8rem; }
      .contact-main-header__info {
        font-size: 1.8rem; }
        .contact-main-header__info span {
          font-weight: 700; }
    .contact-main-form {
      flex: 1 0 50%;
      padding: 2rem; }
      .contact-main-form input[type="number"]::-webkit-outer-spin-button, .contact-main-form input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0; }
      .contact-main-form input[type=number] {
        -moz-appearance: textfield; }
      .contact-main-form__title {
        margin-bottom: 2rem;
        font-weight: 400;
        color: #e9384a;
        line-height: 1.6; }
      .contact-main-form-control {
        padding: 2rem;
        width: 90%;
        margin: 0 auto;
        font-size: 1.5rem;
        font-weight: 300; }
        .contact-main-form-control--label {
          font-weight: 400;
          margin-bottom: 1rem;
          display: block; }
        .contact-main-form-control--field {
          width: 100%;
          height: 5rem;
          margin-bottom: 2rem;
          display: flex;
          border: 1px solid rgba(45, 52, 54, 0.65);
          overflow: hidden; }
        .contact-main-form-control--icon {
          width: 12%;
          height: 100%; }
          .contact-main-form-control--icon .fas {
            color: #fffffa;
            font-size: 2rem; }
        .contact-main-form-control--input {
          height: 100%;
          font-size: 1.3rem;
          width: 90%;
          display: inline-block;
          padding: 0 1rem;
          transition: .2s all; }
        .contact-main-form-control--error {
          color: #e9384a;
          font-size: 1.4rem;
          margin-bottom: 1rem; }
        .contact-main-form-control--text {
          font-size: 1.4rem;
          width: 100%;
          padding: 1.5rem;
          margin-bottom: 2rem;
          transition: .2s all;
          border: 1px solid rgba(45, 52, 54, 0.65); }
        .contact-main-form-control--submit {
          margin-bottom: 2rem;
          opacity: .85;
          display: block; }

.thankyou {
  background-color: #f5f6fa;
  width: 100%;
  color: #2d3436;
  padding-top: 20rem;
  height: 100vh; }
  .thankyou__title {
    text-align: center;
    font-size: 3rem; }
  .thankyou p {
    font-size: 2rem;
    text-align: center; }

.active--location {
  border: 5px solid #e9384a !important; }

.location {
  background-color: #f5f6fa;
  width: 100%; }
  .location__title {
    color: #2d3436;
    padding-top: 15rem;
    text-align: center;
    font-weight: 300;
    font-size: 3rem !important;
    text-transform: uppercase; }
    @media only screen and (max-width: 300px) {
      .location__title {
        font-size: 3rem; } }
  .location__subtitle {
    text-align: center;
    font-size: 1.5rem;
    width: 60%;
    margin: 0 auto; }
  .location-header {
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5rem 0;
    border-bottom: 2px solid rgba(45, 52, 54, 0.55); }
    @media only screen and (max-width: 600px) {
      .location-header {
        flex-direction: column;
        align-items: center; } }
    .location-header-office {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .location-header-office-thumbnail {
        width: 20rem;
        height: 20rem;
        background-size: cover;
        background-position: center;
        border-radius: 100%;
        box-shadow: 0 0 0.2rem #2d3436;
        border: 5px solid rgba(245, 246, 250, 0);
        transition: .2s all; }
        .location-header-office-thumbnail--1 {
          background-image: linear-gradient(rgba(45, 52, 54, 0.45), rgba(45, 52, 54, 0.45)), url(/img/indioOffice.jpg); }
        .location-header-office-thumbnail--2 {
          background-image: linear-gradient(rgba(45, 52, 54, 0.45), rgba(45, 52, 54, 0.45)), url(/img/coachella-office.jpg); }
      .location-header-office__title {
        margin-top: 2rem;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.6rem;
        background-color: #0062cc;
        border: 2px solid #0062cc;
        padding: 1rem 2rem;
        color: #fffffa;
        transition: .2s all;
        border-radius: 5px; }
        .location-header-office__title:hover {
          cursor: pointer;
          background-color: #f5f6fa;
          border: 2px solid #0062cc;
          color: #0062cc; }
      .location-header-office:not(:last-child) {
        margin-right: 5rem; }
        @media only screen and (max-width: 600px) {
          .location-header-office:not(:last-child) {
            margin-right: 0rem;
            margin-bottom: 5rem; } }
  .location-display {
    width: 100%;
    height: 80rem;
    background-position: center;
    background-size: cover;
    color: #2d3436;
    padding: 5rem; }
    @media only screen and (max-width: 1400px) {
      .location-display {
        background-position: left; } }
    @media only screen and (max-width: 1100px) {
      .location-display {
        background-position-x: 30%; } }
    @media only screen and (max-width: 700px) {
      .location-display {
        background-position-x: 40%; } }
    @media only screen and (max-width: 566px) {
      .location-display {
        background-size: 1500px;
        background-position-x: 60%;
        background-position-y: -200%; } }
    @media only screen and (max-width: 530px) {
      .location-display {
        background-size: 1000px;
        background-position-y: 170%;
        background-position-x: 60%; } }
    .location-display--indio {
      background-image: linear-gradient(rgba(1, 22, 39, 0.1), rgba(1, 22, 39, 0.1)), url(/img/location-indio.png); }
    .location-display--coachella {
      display: none;
      background-image: linear-gradient(rgba(1, 22, 39, 0.1), rgba(1, 22, 39, 0.1)), url(/img/coachellaLocation.png); }
    .location-display__title {
      font-size: 6rem;
      text-transform: uppercase;
      font-weight: 700; }
      @media only screen and (max-width: 1000px) {
        .location-display__title {
          font-size: 4.5rem; } }
      @media only screen and (max-width: 700px) {
        .location-display__title {
          font-size: 3.5rem; } }
    .location-display-address p {
      text-align: left;
      font-size: 1.5rem;
      font-weight: 700; }
    .location-display-schedule {
      text-align: left;
      width: 100%;
      font-size: 1.8rem;
      font-weight: 400; }
    .location-display-container {
      padding-top: 10rem;
      max-width: 30%;
      margin-right: auto;
      margin-left: 30rem; }
      @media only screen and (max-width: 1400px) {
        .location-display-container {
          max-width: 40%; } }
      @media only screen and (max-width: 1100px) {
        .location-display-container {
          margin-left: 15rem; } }
      @media only screen and (max-width: 1000px) {
        .location-display-container {
          max-width: 45%; } }
      @media only screen and (max-width: 566px) {
        .location-display-container {
          padding-top: 0rem;
          max-width: 100%;
          margin-left: 0; } }
    .location-display-main {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: #fffffa;
      padding: 5rem;
      box-shadow: -1rem -2rem 0.1rem #2d3436;
      width: 100%; }
      @media only screen and (max-width: 566px) {
        .location-display-main {
          padding: 2rem; } }

.header {
  height: 80rem;
  position: relative; }
  .header .dark-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(1, 22, 39, 0.55);
    position: relative;
    overflow: hidden; }
  .header-video {
    height: 100%;
    width: 100%;
    z-index: -200;
    position: relative; }
    .header-video__content {
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      z-index: -200; }
  .header-main {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 200;
    /*background-image: linear-gradient(rgba($color-black, .45),
    rgba($color-black, .45)),
    url(/img/jumping.jpg);
    background-size: cover;
    background-position-y: 40%;
    background-attachment: fixed;*/
    /* @media only screen and (max-width: 1200px){
      height: 70vh;
    }
    @media only screen and (max-width: 1000px){
      background-position-x: 50%;
    }
    @media only screen and (max-width: 700px){
      height: 45vh;
    }
    @media only screen and (max-width: 600px){
      background-position-x: 70%;
    } 
  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem; }
    @media only screen and (max-width: 1300px) {
      .header-main {
        background-position: center; } }
    .header-main-heading {
      height: 100%;
      text-align: center;
      color: #fffffa;
      margin-top: 20rem; }
      .header-main-heading__title {
        margin: 0 auto;
        text-transform: capitalize;
        margin-top: 5rem;
        width: 60%; }
        @media only screen and (max-width: 1000px) {
          .header-main-heading__title {
            margin-top: 0rem; } }
        @media only screen and (max-width: 930px) {
          .header-main-heading__title {
            font-size: 6rem;
            width: 80%; } }
        @media only screen and (max-width: 650px) {
          .header-main-heading__title {
            width: 90%; } }
        @media only screen and (max-width: 474px) {
          .header-main-heading__title {
            margin-top: -5rem; } }
      .header-main-heading__subtitle {
        color: inherit;
        margin-top: 1rem;
        margin-bottom: 2rem;
        font-weight: 400; }

.features {
  width: 100%;
  background-color: #021f36;
  color: #fffffa; }
  @media only screen and (max-width: 902px) {
    .features {
      padding: 2.5rem 0; } }
  .features-header {
    padding-top: 8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    .features-header__title {
      position: relative; }
      .features-header__title::before {
        content: "";
        display: inline-block;
        width: 10rem;
        height: 10rem;
        background-color: rgba(233, 56, 74, 0.75);
        border-radius: 100px;
        position: absolute;
        z-index: -100;
        top: -50%;
        left: -11%;
        /*   @media only screen and (max-width: 1800px){
          left: 30%;
        }
        @media only screen and (max-width: 1636px){
          left: 28%;
        }
        @media only screen and (max-width: 1511px){
          left: 26%;
        }
        @media only screen and (max-width: 1402px){
          left: 24%;
        }*/ }
        @media only screen and (max-width: 450px) {
          .features-header__title::before {
            display: none; } }
    .features-header-body {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .features-header-body__content {
        margin: 0 auto;
        text-align: center;
        font-size: 2rem;
        margin: 4rem 0;
        width: 60%; }
        @media only screen and (max-width: 902px) {
          .features-header-body__content {
            width: 80%; } }
      .features-header-body__border {
        content: "";
        width: 20%;
        margin-top: 1rem;
        border: 0.1rem solid rgba(178, 132, 81, 0.75);
        border-radius: 100px; }
        .features-header-body__border__2 {
          width: 15%;
          border: 0.1rem solid rgba(178, 132, 81, 0.45);
          border-radius: 100px; }
  .features-body {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 2rem; }
    @media only screen and (max-width: 1111px) {
      .features-body {
        width: 100%;
        padding: 0 1rem; } }
    .features-body__title {
      text-align: center;
      text-transform: capitalize; }
    .features-body-main {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 5rem 0; }
      @media only screen and (max-width: 960px) {
        .features-body-main {
          flex-direction: column; } }
      .features-body-main__title {
        padding-left: 5rem;
        margin-top: 5rem; }
  .features-card {
    padding: 3rem;
    flex: 1 0 25%;
    margin-right: 1rem; }
    .features-card-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .features-card-header__title {
        margin-top: 2rem; }
      .features-card-header__img {
        height: 15rem;
        margin: 0;
        padding: 0; }
        .features-card-header__img:last-child {
          margin-left: -.3rem; }
    .features-card-body p {
      font-size: 1.5rem;
      text-align: center; }
      @media only screen and (max-width: 700px) {
        .features-card-body p {
          width: 60%;
          margin: 0 auto; } }
      @media only screen and (max-width: 56.25em) {
        .features-card-body p {
          font-size: 2rem; } }
      @media only screen and (max-width: 450px) {
        .features-card-body p {
          width: 80%; } }

.services {
  width: 100%;
  padding: 8rem 0;
  background-color: #011627;
  padding-bottom: 20rem;
  color: #fffffa; }
  .services-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    @media only screen and (max-width: 700px) {
      .services-main {
        flex-direction: column;
        margin-bottom: 5rem; } }
    .services-main-card {
      margin-top: 5rem; }
    .services-main-header {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%; }
      .services-main-header__title {
        position: relative; }
        .services-main-header__title::before {
          content: "";
          display: inline-block;
          width: 10rem;
          height: 10rem;
          background-color: rgba(233, 56, 74, 0.75);
          border-radius: 100px;
          position: absolute;
          z-index: -100;
          top: -50%;
          left: -11%; }
          @media only screen and (max-width: 450px) {
            .services-main-header__title::before {
              display: none; } }
      .services-main-header__subtitle {
        font-size: 2rem;
        margin-top: 4rem;
        width: 70%;
        margin-bottom: 10rem; }
        @media only screen and (max-width: 902px) {
          .services-main-header__subtitle {
            width: 80%; } }
    .services-main-body {
      width: 40%;
      color: #fffffa;
      padding: 2rem; }
      @media only screen and (max-width: 1000px) {
        .services-main-body {
          text-align: center;
          width: 90%;
          order: 2;
          margin-top: 2rem;
          margin-bottom: 5rem;
          padding: 0rem; } }
      @media only screen and (max-width: 766px) {
        .services-main-body {
          width: 100%; } }
      .services-main-body__title {
        font-size: 3rem; }
        @media only screen and (max-width: 1400px) {
          .services-main-body__title {
            font-size: 2.5rem; } }
        .services-main-body__title .em {
          display: block;
          line-height: 1;
          padding: 1.2rem 0;
          font-size: 2em; }
      .services-main-body p {
        margin-top: 2rem;
        font-size: 1.8rem;
        width: 100%; }
      .services-main-body:nth-child(2n) {
        margin: 15rem 0;
        padding-left: 5rem; }
        @media only screen and (max-width: 1000px) {
          .services-main-body:nth-child(2n) {
            margin-top: 2rem;
            margin-bottom: 5rem;
            padding-left: 0; } }
    .services-main-thumbnail {
      flex: 0 0 40%;
      display: inline-block; }
      @media only screen and (max-width: 1000px) {
        .services-main-thumbnail {
          flex: 0 0 45%;
          order: 1;
          margin: 0 auto;
          text-align: center; } }
      @media only screen and (max-width: 766px) {
        .services-main-thumbnail {
          flex: 0 0 65%;
          order: 1; } }
      @media only screen and (max-width: 700px) {
        .services-main-thumbnail {
          flex: 0 0 25%;
          order: 1; } }
      .services-main-thumbnail__img {
        height: auto;
        max-width: 100%; }
        @media only screen and (max-width: 700px) {
          .services-main-thumbnail__img {
            width: 60%;
            margin: 0 auto; } }
        @media only screen and (max-width: 400px) {
          .services-main-thumbnail__img {
            width: 70%; } }

.testimonial {
  background-color: #011627;
  padding: 8rem 4rem;
  color: #fffffa;
  margin-top: -10rem; }
  @media only screen and (max-width: 1000px) {
    .testimonial {
      margin-top: -30rem; } }
  .testimonial-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    .testimonial-header::after {
      margin-top: 1rem;
      content: "";
      display: block;
      width: 10%;
      height: 2rem;
      border-radius: 100px;
      background-color: rgba(233, 56, 74, 0.75); }
      @media only screen and (max-width: 900px) {
        .testimonial-header::after {
          height: 1rem; } }
    .testimonial-header__subtitle {
      font-size: 2rem;
      margin-top: 1rem;
      margin-bottom: 2rem; }
  .testimonial-main {
    margin: 2.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem; }
    .testimonial-main-container {
      position: relative;
      height: 30rem;
      width: 45rem;
      overflow: hidden;
      margin-right: 1rem;
      border-radius: 1rem;
      box-shadow: 0 0 1rem #2d3436; }
      @media only screen and (max-width: 700px) {
        .testimonial-main-container {
          width: 60rem; } }
    .testimonial-main__fbpost {
      border-radius: 10px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .testimonial-footer {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .testimonial-footer__title {
      text-align: center;
      font-weight: 400; }
    .testimonial-footer-media {
      display: flex; }
      .testimonial-footer-media-container {
        flex-basis: 0 0 5%;
        height: 6rem;
        margin: 2rem 0; }
        .testimonial-footer-media-container__icon {
          max-width: 100%;
          height: 80%;
          box-shadow: 0.1rem 0.1rem 0px #2d3436;
          border-radius: 100px; }
        .testimonial-footer-media-container:not(:last-child) {
          margin-right: 2rem; }

.getstarted {
  width: 100%;
  background-color: #011627; }
  .getstarted-bg {
    padding: 8rem 0;
    height: 80%;
    width: 100%;
    background-image: linear-gradient(rgba(2, 31, 54, 0.5), rgba(2, 31, 54, 0.5)), url(/svg/undraw_contact_us_15o2.svg);
    background-size: 4000px;
    background-repeat: no-repeat;
    z-index: -200; }
    @media only screen and (max-width: 1400px) {
      .getstarted-bg {
        background-position: top;
        background-position-y: 10%; } }
    .getstarted-bg .getstarted-main-header {
      text-align: center;
      color: #fffffa;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .getstarted-bg .getstarted-main-header__title {
        position: relative; }
        .getstarted-bg .getstarted-main-header__title::before {
          content: "";
          display: inline-block;
          width: 10rem;
          height: 10rem;
          background-color: rgba(233, 56, 74, 0.75);
          border-radius: 100px;
          position: absolute;
          z-index: -100;
          top: -50%;
          left: -15%; }
          @media only screen and (max-width: 450px) {
            .getstarted-bg .getstarted-main-header__title::before {
              display: none; } }
      .getstarted-bg .getstarted-main-header__subtitle {
        margin: 5rem;
        width: 60%;
        text-transform: none;
        font-weight: 400; }
        @media only screen and (max-width: 914px) {
          .getstarted-bg .getstarted-main-header__subtitle {
            width: 80%; } }

.footer {
  width: 100%;
  background-color: #40434e;
  color: #fffffa; }
  .footer-top {
    font-size: 1.6rem;
    font-weight: 400;
    width: 100%;
    background-color: #2b3038;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    opacity: .85;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-right: 15rem; }
    @media only screen and (max-width: 1000px) {
      .footer-top {
        padding-right: 4rem; } }
    @media only screen and (max-width: 806px) {
      .footer-top {
        flex-direction: column;
        align-items: flex-start; } }
    .footer-top-nav {
      text-align: right;
      width: 25%;
      position: relative;
      padding-right: 2rem;
      margin: 0 2rem;
      list-style: none; }
      @media only screen and (max-width: 806px) {
        .footer-top-nav {
          text-align: left;
          margin-bottom: 1rem;
          padding: 0 1rem;
          width: 100%; } }
      .footer-top-nav__list {
        text-decoration: none;
        margin-bottom: .5rem; }
        .footer-top-nav__list__item:link, .footer-top-nav__list__item:visited {
          padding: 1rem;
          color: inherit;
          text-decoration: none;
          transition: .2s all; }
        .footer-top-nav__list__item:hover {
          color: #e9384a;
          opacity: 1; }
      .footer-top-nav::after {
        content: "";
        display: inline-block;
        height: 15rem;
        width: 2px;
        background-color: rgba(255, 255, 250, 0.25);
        position: absolute;
        top: 0%;
        left: 100%; }
        @media only screen and (max-width: 806px) {
          .footer-top-nav::after {
            display: none; } }
    .footer-top-info {
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      position: relative;
      padding: 0 4rem; }
      @media only screen and (max-width: 806px) {
        .footer-top-info {
          margin: 1rem 0; } }
      .footer-top-info-address {
        margin: 0;
        padding: 0; }
      @media only screen and (max-width: 400px) {
        .footer-top-info-email {
          margin: 0 auto; } }
      @media only screen and (max-width: 800px) {
        .footer-top-info {
          flex-basis: 1 0 50%;
          width: 75%;
          margin-top: 2rem; } }
      .footer-top-info:not(:last-child)::after {
        content: "";
        display: inline-block;
        height: 15rem;
        width: 2px;
        background-color: rgba(255, 255, 250, 0.25);
        position: absolute;
        top: 0%;
        left: 100%; }
        @media only screen and (max-width: 806px) {
          .footer-top-info:not(:last-child)::after {
            display: none; } }
    .footer-top-media {
      margin-left: 2rem; }
      @media only screen and (max-width: 800px) {
        .footer-top-media {
          margin-top: 2rem;
          width: 25%;
          margin-left: 0; } }
      .footer-top-media-social {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .footer-top-media-social-container {
          flex: 0 0 25%;
          height: 4rem; }
          .footer-top-media-social-container__icon {
            max-width: 100%;
            height: 100%;
            opacity: .85;
            border-radius: 5px; }
          .footer-top-media-social-container:not(:last-child) {
            margin-bottom: 1rem; }
  .footer-copyright {
    font-size: 1.2rem;
    color: inherit;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
    font-weight: 300; }
    .footer-copyright__body {
      margin: 0; }
